<script>
    $(document).on('ready page:load', function () {

        var requests = [];

        $('table#zones tbody tr').each(function () {
            var zone_codename = $(this).find('td').attr('id');
            zone_codename = zone_codename.replace("/", "-");
            requests.push($.getJSON("../api/zones_count/" + zone_codename, function (result) {
                var id_zone = result.zone;
                var datas = result.datas
                var total = result.total;
                $.each(datas, function (i) {
                    var id_category = datas[i][0];
                    var count = datas[i][1];

                    $('table#zones tbody tr td#' + id_zone + '_' + id_category).html(count);
                });

                $('table#zones tbody tr td#total_' + id_zone).html(total);


            }));
        });

        $.when.apply(null, requests).then(function () {

            if ($.fn.dataTable.isDataTable('table#zones')) {
                $('table#zones').DataTable();
            } else {

                $('table#zones').DataTable({
                    paging: false,
                    searching: false,
                    info: false
                });
            }
        });


    });

</script>



<div class="panel-large">
  <p class="title">Zones</p>

  <div class="panel-content">
    <table id="zones" class="table table-striped">
      <thead>
      <tr>
        <th>Zones</th>
        <th>Tout</th>
        <% @categories.each do |category| %>
            <th class="data" id="cat<%= category.id %>"><%= category.name %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @zones.each do |zone| %>
          <tr>
            <td class="data" id="<%= zone.codename %>"><%= zone.name %></td>
            <td class="data" id="total_<%= zone.id.to_s %>"></td>
            <% @categories.each do |category| %>
                <td id="<%= zone.id.to_s + '_' + category.id.to_s %>">0</td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>